<form action="/" method="post">
	Number:<br />
	<input type="text" name="phonenumber" placeholder="+1XXXXXXXXXX"><br />
	Message:<br />
	<textarea name="textmessage" cols="50" rows="5" placeholder="Enter text message..."></textarea><br />
	<input type="submit" value="Send" />
</form>